.container {
    margin-top: 50px;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-control {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #31b675;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  @media screen and (max-width: 768px) {
    .container {
      margin-top: 20px;
    }
  }
  