/* Estilos generales */
body {
  color: #000;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-md-4 {
  width: calc(33.3333% - 30px);
  margin: 15px;
}

.card {
  background-color: #f3f3f3;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
}

.card-body {
  padding: 10px;
}

/* Estilos específicos para el componente ListUser */
h5 {
  margin: 0;
}

p {
  margin: 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .col-md-4 {
    width: calc(50% - 30px);
  }
}

@media (max-width: 576px) {
  .col-md-4 {
    width: calc(100% - 30px);
  }
}
