
    .login {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 300px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    }

    .form-control,
    input[type='email'],
    input[type='password'] {
    display: block;
    width: 95%;
    margin-bottom: 10px;
    }

    .form-control {
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: #e2dad7;
    }

    .btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #7f5341;
    color: #fff;
    }

    .btn:hover {
    background-color: #cfa076;
    }

    .text-black {
    color: #989ba2;
    }